@import './variables.styl';

// Title and headings font
@font-face
  font-family: NoeDisplay;
  font-style: bold;
  src: url('../assets/fonts/Noe Display/Noe-Display-Bold.ttf');

// Body font
@font-face
  font-family: NoticiaText;
  font-style: normal;
  src: url('../assets/fonts/Noticia Text/NoticiaText-Regular.ttf');

// Navigation menu font
@font-face
  font-family: Monserrat;
  font-style: normal;
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.otf);

*
  font-family: 'News Cycle', sans-serif;
  line-height: 1.3em;

h1, h2, h3, h4, h5, h6
  font-family: NoeDisplay;
  color: $white;

body
  font-family NoticiaText
