
// Media queries
$sm = 550px;
$md = 850px;
$lg = 1280px;

page_padding($padding_top = 3em, $padding_bottom = 2em)
  padding-top: $padding_top;
  padding-bottom: $padding_bottom;
  padding-left: 'calc(0.15 * %s)' % $boxed_content_max_width;
  padding-right: 'calc(0.15 * %s)' % $boxed_content_max_width;

  // If viewport is less than 1280px, the padding is relative to the viewport
  @media (max-width: $lg)
    padding-left: calc(0.15 * 100%);
    padding-right: calc(0.15 * 100%);

  // Remove padding on small viewports
  @media (max-width: $sm)
    padding-left: 0;
    padding-right: 0;

// Provide a way to display a column of latests posts
// Used on single residency or news post pages
latest_posts()
  width: 'calc(%s * 0.2)' % $boxed_content_max_width;

  .latestPostsTitle
    margin-bottom: 0;
    margin-top: 0;

  .latestPostsItem
    .progressiveImage:hover
      opacity: 0.9;

    .latestPostsItem__title
      margin-top: 5px;
      margin-bottom: 5px;

      &:hover
        text-decoration: underline;

    .latestPostsItem__date
      margin-top: 0;
      color: $latest_posts_grey;
      margin-bottom: 8px;
      font-size: 14px;

  hr
    border: 1px solid $latest_posts_grey;
    margin-top: 2px;
    margin-bottom: 15px;

// Underlines a div with it's border and padding
underline()
  border-bottom: solid 2px white;
  padding-bottom: 5px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;