@import './variables.styl';

.pageTitleText
  font-size: 45px;
  color: $blue;

.page
  // To display loader
  min-height: 100vh;
  padding: 1em 2em;

  .pageTitle
    display: flex;
    align-items: center;

    .pageTitleText
      flex: 1;

  .pageRow
    display: flex;

    .pageLeft, .pageRight
      width: 50%;

  .pageBox
    max-width: $boxed_content_max_width;
    margin: 0 auto;

  hr
    color: $blue;