@import './variables.styl';

.page
  // To display loader
  min-height: 100vh;
  padding: 1em 2em;

  .pageTitle
    display: flex;
    align-items: center;

    .pageTitleText
      color: $blue;
      flex 1
