@import './variables.styl';

.pageTitleText
  font-size: 45px;
  color: $blue;

.page
  // To display loader
  min-height: 100vh;
  page_padding();
  max-width: $boxed_content_max_width;
  margin: 0 auto;

  &.pageWithFullWidthSlider
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;

    .pageBody, .pageTitle
      page_padding(0, 0);
      max-width: $boxed_content_max_width;
      margin: 0 auto;

  .pageFullWidthSlider
    background-color: $blue;
    height: 80vh;

  .pageTitle
    display: flex;
    align-items: center;

    .pageTitleText
      flex: 1;

  .pageRow
    display: flex;

    .pageLeft, .pageRight
      width: 50%;

  // Used to render html from WYSYWIG editors
  .pageBody
    img
      display: block;
      max-width: 100%;
      margin: 0 auto;

  hr
    color: $blue;