@import './variables.styl';

// Title and headings font
@font-face
  font-family: NoeDisplay;
  font-style: bold;
  src: url('../assets/fonts/Noe Display/Noe-Display-Bold.ttf');

// // Body font
// @font-face
// font-family: NoticiaText;
// font-style: normal;
// src: url('../assets/fonts/Noticia Text/NoticiaText-Regular.ttf');

// Body font
@font-face
  font-family: OpenSans;
  font-style: normal;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');

@font-face
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.otf');

p, .pageBody
  font-family: OpenSans;
  line-height: 1.5em;

h1, h2, h3, h4, h5, h6
  font-family: NoeDisplay;
  color: $blue;
  line-height: 1.5em;

body
  font-family: OpenSans;