@import './mixings.styl';

$boxed_content_max_width = 1280px;
$header_height = 110px;
$header_mobile_height = 70px;
$home_padding = 3em;
// Footer is not boxed with $boxed_content_max_width,
// so padding must be bigger than home padding
$footer_padding = 2.5em 6em;
// Height of the row where the suscribe form is displayed
$footer_form_height = 40px;
// Media queries
$sm = 550px;
$md = 750px;
$lg = 1280px;
// Colors
$blue = #344284;
$dark-blue = darken($blue, 5);
$grey = #ececec;
$black = #080808;
$bg_color = #fcfcfc;
$text-black = #000000;
$text-blue = $blue;
$latest_posts_grey = #868686;
