// Colors
$boxed_content_max_width = 1280px;
$header_height = 110px;
$home_padding = 3em;
// Footer is not boxed with $boxed_content_max_width,
// so padding must be bigger than home padding
$footer_padding = 2.5em 6em;
// Colors
$blue = #344284;
$grey = #ececec;
$black = #080808;
$bg_color = #fcfcfc;
$text-black = #000000;
$text-blue = $blue;

page_padding($padding_top = 3em, $padding_bottom = 2em)
  padding-top: $padding_top;
  padding-bottom: $padding_bottom;
  padding-left: 'calc(0.15 * %s)' % $boxed_content_max_width;
  padding-right: 'calc(0.15 * %s)' % $boxed_content_max_width;