
@import '../../../styles/variables.styl';

// burger menu
.bm-menu
  background-color: $dark-blue !important; 
  // Height is determined by its content
  height: auto !important;
  max-height: 'calc(100vh - %s)' % $header_mobile_height !important;
  overflow-y: auto !important;
  padding-top: 0 !important;
  margin-top: 'calc(%s - 2px)' % $header_mobile_height !important;

  .bm-item-list
    padding-left: 0;
    margin-left: 0;
    padding: 5px 10px;

header.header
  background-color: $bg_color;
  z-index: 10;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header_height;
  align-items: center;
  padding: 0 10px;
  border-bottom: 2px solid $grey;
  transition: all 0.2s;

  &.header--small
    background-color: $blue;
    height: $header_mobile_height;
    border-color: $dark-blue;

    .headerLeftSection, .headerRightSection
      height: $header_mobile_height;

      @media (max-width: $md)
        width: 100%;
        height: auto;

    .headerLeftSection
      @media (max-width: $md)
        height: inherit;

  .headerLeftSection
    display: flex;
    height: $header_height;
    align-items: center;
    width: 300px;

  .headerRightSection
    display: flex;
    flex: 1;
    height: $header_height;
    width: 70%;
    flex-direction: column;

    @media (max-width: $md)
      width: 100%;
      height: auto;

    &--with-button
      @media (max-width: $md)
        position: initial;

      padding-right: 10px;
      justify-content: center;
      align-items: flex-end;

    .headerNavContainer
      display: flex;
      flex: 1;

      @media (max-width: $md)
        flex-direction: column;

      .youtubeChannelLink
        font-size: 18px;

.customHeaderNavItem
  @media (max-width: $md)
    // Display a line on the bottom of each menu
    border-bottom: 1px solid white;

  .headerNavItemLink
    color: $blue;
    display: flex;
    height: 100%;
    align-items: center;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 1em 1em;
    transition: all 0.2s;

    @media (max-width: $md)
      color: white;
      width: 100%;
      padding: 5px 0;

    // Direct childs of .headerNavItem are titles
    &:not(:only-child)
      @media (max-width: $md)
        underline();

// Only visible on @media (max-width: $md)
.socialNetworkContainer
  padding: 0;
  margin-top: 10px;
  text-align: right;

  .headerNavItemLink
    font-style: 16px;
    color: white;

  .socialNetworkContainerTitle
    width: 100%;
    padding-bottom: 5px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 18px;

  .socialNetworks .socialNetwork
    margin-left: 1em !important;

// Only visible on @media (max-width: $md)
.contactContainer
  padding: 0 0 1em 0;
  margin-top: 10px;
  text-align: right;

  .contactContainerTitle
    width: 100%;
    padding-bottom: 5px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 18px;

  .headerNavItemLink
    display: block;
    text-align: left;
    width: 100%;
    color: white;
    font-size: 16px;
