@import './variables.styl';

.pageTitleText
  color: $blue;

.page
  position: relative;
  min-height: 100vh;
  page_padding(0);
  max-width: $boxed_content_max_width;
  margin: 0 auto;

  @media (max-width: $md)
    min-height: 300px;

  .pageTitle
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md)
      padding: 10px 0;
      margin: 0 $mobile_padding;

    .pageTitleLink + .pageTitleText
      margin-top: 0;

    .pageTitleText
      font-size: 38px;
      flex: 1;

      @media (max-width: $md)
        margin: 10px 0 0 0;
        font-size: 32px;
        padding: 0;

    .pageTitleLink
      margin-top: 10px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      &:hover
        opacity: 0.8;

      .fa-icon
        position: absolute;
        left: -13px;
        margin-right: 5px;

        @media (max-width: $md)
          position: initial;
          left: auto;

  .pageRow
    display: flex;

    @media (max-width: $md)
      padding: $mobile_padding;

    &:not(.schoolProgramTabsTitle)
      @media (max-width: $md)
        flex-direction: column;

    .pageLeft, .pageRight
      width: 50%;

      @media (max-width: $md)
        width: 100%;
        margin: 0;

    &.pageRow--with-media
      @media (max-width: $md)
        padding: 0;

    .pageTitle
      @media (max-width: $md)
        margin: 0;

  // Used to render html from WYSYWIG editors
  .pageBody
    img
      display: block;
      max-width: 100%;
      margin: 0 auto;

    p
      &:first-child
        margin-top: 0;

  hr
    color: $blue;
