
@import '../../../styles/variables.styl';

.footer
  .footerTop
    background-color: $grey;
    padding: $home_padding;
    display: flex;

    .footerTopSection
      padding: 1em;

  .footerSponsors
    padding: $home_padding;
    background-color: $black;
    min-height: 300px;