
@import '../../../styles/variables.styl';

.footer
  .footerTitle
    color: $blue;
    font-family: Montserrat;
    margin-bottom: 35px;

  .footerTop
    background-color: $grey;
    padding: $footer_padding;
    display: flex;
    justify-content: space-between;

    .footerTopSection
      margin: 1em;

      &.contactMail
        position: relative;
        max-width: 170px;

        .contactMailContainer
          height: $footer_form_height;
          display: flex;
          align-items: center;

          a
            font-size: 18px;
            display: block;
            font-family: Montserrat;
            color: $blue;

      &.socialNetworks
        .socialNetworks
          height: $footer_form_height;

        position: relative;
        flex: 1;
        max-width: 250px;

      &.suscribeForm
        .footerSuscribeForm
          height: $footer_form_height;

        position: relative;
        min-width: 565px;
        margin-left: 2em;

    .footerListItem
      font-family: Montserrat;
      margin: 20px 0;

      a
        font-family: Montserrat;
        text-decoration: none;
        color: inherit;

        &:hover
          text-decoration: underline;

  .footerSponsors
    padding: $footer_padding;
    background-color: $black;
    min-height: 300px;